*{
    padding: 0;
    margin: 0;
}

body{
    /*(219,92,37) <= rgb */
    background-color:	#db5c25 ;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    /* background-color:	black ; */
    height: 100%;
    width: 45vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box1 .box1 .box3{
    flex-basis: 1;
}

/* .box1 {
    background-color: aqua;
}
.box2{
    background-color: aquamarine;
}
.box3{
    background-color: blue;
} */



.box1 .counter {
    /* background-color: aqua; */
    margin-top: 15%;

    display: flex;
    justify-content: center;
    font-size: 200%;
    color: rgb(253,180,75);

}
.box2 .counter{
    /* background-color: aquamarine; */
    margin-top: 15%;

    display: flex;
    justify-content: center;
    font-size: 200%;
    color: rgb(253,180,75);
}
.box3 .counter{
    /* background-color: blue; */
    margin-top: 15%;

    display: flex;
    justify-content: center;
    font-size: 200%;
    color: rgb(253,180,75);
}

.box1 .bottom{
    margin-top: 15%;
    color: bisque;
}
.box2 .bottom{
    margin-top: 15%;
    color: bisque;
}
.box3 .bottom{
    margin-top: 15%;
    color: bisque;
}
.box3 .top{

    padding-left: 10%;
}
